$color: red;
%content {
    font-family: sans-serif;
}

div {
    @extend %content;
    color:$color;
    h2{
        text-align: center;
    }
    h3{
        font-style: italic;
    }

    p {
        color: black;
        background-color: grey;
    }
}